In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd

import os
import chardet

In [3]:
pd.set_option('display.float_format', '{:.6f}'.format) # Í≥ºÌïôÏ†Å ÌëúÍ∏∞Î≤ï x

# **1. Îç∞Ïù¥ÌÑ∞ Î≥ëÌï©**

In [4]:
### ÌååÏùº Î≥ëÌï©ÏùÑ ÏúÑÌïú Ìï®Ïàò

def file_concat(path, file_list):
  dfs = []  # DataFrameÎì§ÏùÑ Ï†ÄÏû•Ìï† Î¶¨Ïä§Ìä∏

  for file in file_list:
    # ÌååÏùº ÌôïÏû•ÏûêÍ∞Ä .csvÏù∏ Í≤ΩÏö∞ÏóêÎßå Ï≤òÎ¶¨
    if file.endswith(".csv"):
      file_path = os.path.join(path, file)

      # ÌååÏùºÏùÑ Ïó¥Ïñ¥ÏÑú Ïù∏ÏΩîÎî© ÌôïÏù∏
      with open(file_path, 'rb') as f:
        rawdata = f.read()
      result = chardet.detect(rawdata)
      enc = result['encoding']

      # Ìï¥Îãπ ÌååÏùºÏùò Ïù∏ÏΩîÎî©Ïóê ÎßûÍ≤å Ïó¥Ïñ¥ÏÑú DataFrameÏúºÎ°ú Î≥ÄÌôò
      df = pd.read_csv(file_path, encoding = enc)
      dfs.append(df)

  # DataFrameÎì§ÏùÑ ÏÑ∏Î°ú Î∞©Ìñ•ÏúºÎ°ú Ïù¥Ïñ¥Î∂ôÏûÑ
  df = pd.concat(dfs, axis = 0, ignore_index = True)  # ignore_index = TrueÎ°ú Ìï¥Ï§òÏïº Ïò§Î•ò ÏóÜÏù¥ Î∞ëÏúºÎ°ú Í≤∞Ìï©Îê®

  return df

## **1-1. Ï†ÄÏàòÎüâ Îç∞Ïù¥ÌÑ∞**
- Í∞Å ÎåêÏóê ÎåÄÌïú Ï†ïÎ≥¥Î•º Ìè¨Ìï®ÌïòÍ≥† ÏûàÎäî Îç∞Ïù¥ÌÑ∞    
- ÌôúÏö© Îç∞Ïù¥ÌÑ∞ Î™©Î°ù
  - [Îã§Î™©Ï†ÅÎåê Ïö¥ÏòÅ Ï†ïÎ≥¥(ÏùºÏûêÎ£å)](https://www.bigdata-environment.kr/user/data_market/detail.do?id=b77fd770-38bb-11ea-be28-4fa0eb812a46)
  - [MyWater Î¨ºÏ†ïÎ≥¥Ìè¨ÌÑ∏ÏàòÎ¨∏ÏûêÎ£å](https://www.water.or.kr/kor/realtime/sumun/index.do?mode=sumun&menuId=13_91_93_94)

### **üìå Data Description**
1. dam_nm: ÎåêÏù¥Î¶Ñ
2. obsr_de: ÏùºÏûê
3. rain_qy: Í∞ïÏö∞Îüâ
4. inflow_qy: Ïú†ÏûÖÎüâ
5. tot_dcwtr_qy: Î∞©Î•òÎüâ
6. rsvwt_qy: Ï†ÄÏàòÎüâ
7. dam_rsvwt_rt: Ï†ÄÏàòÏú®

### **a) Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞**

In [5]:
water_path = '/content/drive/MyDrive/2023·ÑÇ·Öß·Ü´ K-water ·ÑÉ·Ö¢·ÑÄ·ÖÆ·Ü®·ÑÜ·Öµ·Ü´ ·ÑÜ·ÖÆ·ÜØ ·Ñá·Öµ·Ü®·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö• ·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü®·ÑÄ·Ö™·Ñå·Ö¶ ·ÑÄ·Ö©·Üº·ÑÜ·Ö©·Ñå·Ö•·Ü´/data/·ÑÉ·Ö°·ÑÜ·Ö©·Ü®·Ñå·Ö•·Ü®·ÑÉ·Ö¢·Ü∑·Ñã·ÖÆ·Ü´·Ñã·Öß·Üº·Ñå·Ö•·Üº·Ñá·Ö©' # path Î≥ÄÏàòÏóê Í≤ΩÎ°ú ÏßÄÏ†ï

In [6]:
water_list = os.listdir(water_path)
print(water_list)
print(len(water_list))

['202109.csv', '202110.csv', '202111.csv', '202112.csv', '202201.csv', '202204.csv', '202205.csv', '202206.csv', '202207.csv', '202209.csv', '202202.csv', '202203.csv', '202208.csv', '202211.csv', '202212.csv', '202210.csv', '202010.csv', '202009.csv', '201911.csv', '202007.csv', '202011.csv', '202012.csv', '202101.csv', '202102.csv', '202103.csv', '202104.csv', '202105.csv', '202106.csv', '202107.csv', '202108.csv', '201901.csv', '201902.csv', '201903.csv', '201904.csv', '201905.csv', '201906.csv', '201907.csv', '201908.csv', '201909.csv', '201910.csv', '201912.csv', '202001.csv', '202002.csv', '202003.csv', '202004.csv', '202005.csv', '202006.csv', '202008.csv']
48

- 4Í∞úÎÖÑÏπòÏóê Ìï¥ÎãπÌïòÎäî 48Í∞ú Îã¨Ïóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ïÏÉÅÏ†ÅÏúºÎ°ú loadÎê®

In [7]:
df = file_concat(water_path, water_list)

In [8]:
df

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt
0,Íµ∞ÏúÑ,20210901,61.107600,33.593000,27.709000,38.444000,78.900000
1,Íµ∞ÏúÑ,20210902,0.236600,16.142000,49.042000,35.601000,73.100000
2,Íµ∞ÏúÑ,20210903,0.000000,2.402000,30.330000,33.188000,68.200000
3,Íµ∞ÏúÑ,20210904,0.000000,2.656000,1.407000,33.296000,68.400000
4,Íµ∞ÏúÑ,20210905,0.000000,1.492000,1.492000,33.296000,68.400000
...,...,...,...,...,...,...,...
30676,Ìö°ÏÑ±,20200827,7.265100,6.448000,15.791000,64.670000,74.400000
30677,Ìö°ÏÑ±,20200828,59.311900,8.485000,4.407000,65.022000,74.800000
30678,Ìö°ÏÑ±,20200829,24.223100,44.268000,17.710000,67.317000,77.500000
30679,Ìö°ÏÑ±,20200830,39.712700,45.884000,29.069000,68.770000,79.100000
30680,Ìö°ÏÑ±,20200831,0.000000,39.793000,57.800000,67.214000,77.400000

- 365(Ïùº) * 4(ÎÖÑ) * 21(Îåê Í∞úÏàò) = 30660
- 2020ÎÖÑÏùò Í≤ΩÏö∞ 2Ïõî 29ÏùºÍπåÏßÄ Ï°¥Ïû¨ -> 21Í∞ú Ï∂îÍ∞Ä

In [9]:
### Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥ ÌôïÏù∏

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30681 entries, 0 to 30680
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dam_nm        30681 non-null  object
 1   obsr_de       30681 non-null  int64
 2   rain_qy       30681 non-null  object
 3   inflow_qy     30681 non-null  float64
 4   tot_dcwtr_qy  30681 non-null  float64
 5   rsvwt_qy      30681 non-null  float64
 6   dam_rsvwt_rt  30681 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.6+ MB

- obsr_de(Í¥ÄÏ∏°Ïùº)Í≥º rain_qy(Í∞ïÏö∞Îüâ)Ïùò Îç∞Ïù¥ÌÑ∞Ìòï(dtype)Ïù¥ ÏûòÎ™ª ÏÑ§Ï†ïÎêòÏñ¥ ÏûàÎäî Í≤É Í∞ôÏùå
  - obsr_de: object -> datetime
  - rain_qy: object -> float64

In [10]:
# Í≤∞Ï∏°ÏπòÎÇò Î≥ÄÍ≤ΩÌï† Ïàò ÏóÜÎäî Í∞íÏù¥ ÏûàÎã§Î©¥ ÏùºÎã® Î™®Îëê Î¨¥ÏãúÌïòÍ≥† Îç∞Ïù¥ÌÑ∞Ìòï Î≥ÄÍ≤Ω

df['obsr_de'] = df['obsr_de'].apply(lambda x: pd.to_datetime(x, format='%Y%m%d', errors = 'coerce'))
df['rain_qy'] = df['rain_qy'].apply(lambda x: pd.to_numeric(x, errors = 'coerce'))

In [11]:
df.head()

  dam_nm    obsr_de   rain_qy  inflow_qy  tot_dcwtr_qy  rsvwt_qy  dam_rsvwt_rt
0     Íµ∞ÏúÑ 2021-09-01 61.107600  33.593000     27.709000 38.444000     78.900000
1     Íµ∞ÏúÑ 2021-09-02  0.236600  16.142000     49.042000 35.601000     73.100000
2     Íµ∞ÏúÑ 2021-09-03  0.000000   2.402000     30.330000 33.188000     68.200000
3     Íµ∞ÏúÑ 2021-09-04  0.000000   2.656000      1.407000 33.296000     68.400000
4     Íµ∞ÏúÑ 2021-09-05  0.000000   1.492000      1.492000 33.296000     68.400000

In [12]:
df['dam_nm'].unique()

array(['Íµ∞ÏúÑ', 'ÍπÄÏ≤úÎ∂ÄÌï≠', 'ÎÇ®Í∞ï', 'ÎåÄÏ≤≠', 'Î∞ÄÏñë', 'Î≥¥Î†π', 'Î≥¥ÌòÑÏÇ∞', 'Î∂ÄÏïà', 'ÏÑ¨ÏßÑÍ∞ï', 'ÏÑ±Îçï',
       'ÏÜåÏñëÍ∞ï', 'ÏïàÎèô', 'ÏòÅÏ£º', 'Ïö©Îã¥', 'ÏûÑÌïò', 'Ïû•Ìù•', 'Ï£ºÏïî(Î≥∏)', 'Ï£ºÏïî(Ï°∞)', 'Ï∂©Ï£º', 'Ìï©Ï≤ú',
       'Ìö°ÏÑ±'], dtype=object)

- 21Í∞ú ÎåêÏóê ÎåÄÌïú Ï†ïÎ≥¥Î•º Ìè¨Ìï®ÌïòÍ≥† ÏûàÏùå

### **b) Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨**
- Ï†ÄÏàòÎüâ Îç∞Ïù¥ÌÑ∞ ÌäπÏÑ±ÏÉÅ Í∞íÎì§ ÏÇ¨Ïù¥Ïùò Ìé∏Ï∞®Í∞Ä ÌÅ¨Îã§.
  - Ïù¥ÏÉÅÏπòÎ•º Í±∏Îü¨ÎÇ¥Îäî Í≤ÉÏóê ÏùòÎØ∏Í∞Ä ÏóÜÏùÑ Í≤ÉÏúºÎ°ú ÌåêÎã®ÎêòÏñ¥ Î≥ÑÎèÑÎ°ú ÏßÑÌñâ x

### **c) Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨**

In [13]:
# ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞ ÎÇ¥Ïùò Í≤∞Ï∏°ÏπòÎäî Í≥µÎ∞±ÏúºÎ°ú Ï≤òÎ¶¨ÎêòÏñ¥ ÏûàÏùå
# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÎÇ¥Ïùò Í≥µÎ∞±ÏùÑ NaNÏúºÎ°ú Î≥ÄÍ≤Ω

df.replace('', np.nan, inplace = True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30681 entries, 0 to 30680
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dam_nm        30681 non-null  object
 1   obsr_de       30681 non-null  datetime64[ns]
 2   rain_qy       30680 non-null  float64
 3   inflow_qy     30681 non-null  float64
 4   tot_dcwtr_qy  30681 non-null  float64
 5   rsvwt_qy      30681 non-null  float64
 6   dam_rsvwt_rt  30681 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.6+ MB

- rain_qy(Í∞ïÏàòÎüâ)Ïóê Í≤∞Ï∏°ÏπòÍ∞Ä Ï°¥Ïû¨

In [15]:
df.loc[df['rain_qy'].isna(),:]

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt
19852,ÍπÄÏ≤úÎ∂ÄÌï≠,2019-02-01,NaN,0.026664,1.616854,37.143000,68.400000

In [16]:
# Ìï¥Îãπ ÎåêÏùò Ìï¥Îãπ Ïó∞ÎèÑ + Îã¨Ïùò Í∞ïÏàòÎüâ ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥

df['rain_qy'] = df.groupby(['dam_nm', df['obsr_de'].dt.year ,df['obsr_de'].dt.month])['rain_qy'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [17]:
df.loc[df['rain_qy'].isna(),:]

Empty DataFrame
Columns: [dam_nm, obsr_de, rain_qy, inflow_qy, tot_dcwtr_qy, rsvwt_qy, dam_rsvwt_rt]
Index: []

- Í≤∞Ï∏°ÏπòÍ∞Ä Ï†úÎåÄÎ°ú Ï±ÑÏõåÏßê

In [18]:
df.head()

  dam_nm    obsr_de   rain_qy  inflow_qy  tot_dcwtr_qy  rsvwt_qy  dam_rsvwt_rt
0     Íµ∞ÏúÑ 2021-09-01 61.107600  33.593000     27.709000 38.444000     78.900000
1     Íµ∞ÏúÑ 2021-09-02  0.236600  16.142000     49.042000 35.601000     73.100000
2     Íµ∞ÏúÑ 2021-09-03  0.000000   2.402000     30.330000 33.188000     68.200000
3     Íµ∞ÏúÑ 2021-09-04  0.000000   2.656000      1.407000 33.296000     68.400000
4     Íµ∞ÏúÑ 2021-09-05  0.000000   1.492000      1.492000 33.296000     68.400000

### **d) Îã®ÏúÑ Î≥ÄÍ≤Ω**
- Ïú†ÏûÖÎüâ, Î∞©Î•òÎüâÏùÑ 1ÏùºÎãπ Ï¥ùÎüâÏúºÎ°ú Î≥ÄÍ≤Ω
  - m3/s Îã®ÏúÑÎ•º m3Î°ú Î≥ÄÍ≤Ω
- ÌïòÎ£® Í∏∞Ï§Ä: 60Ï¥à * 60Î∂Ñ * 24ÏãúÍ∞Ñ = 86400Ï¥à
- Ï¥ùÏ†ÄÏàòÎüâÏùò Í≤ΩÏö∞ m3 * Î∞±ÎßåÏùÑ m3ÏúºÎ°ú Î≥ÄÍ≤Ω

In [19]:
df['inflow_qy'] = df['inflow_qy'] * 86400
df['tot_dcwtr_qy'] = df['tot_dcwtr_qy'] * 86400

In [20]:
df['rsvwt_qy'] = df['rsvwt_qy'] * 1000000

In [21]:
df.head()

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt
0,Íµ∞ÏúÑ,2021-09-01,61.107600,2902435.200000,2394057.600000,38444000.000000,78.900000
1,Íµ∞ÏúÑ,2021-09-02,0.236600,1394668.800000,4237228.800000,35601000.000000,73.100000
2,Íµ∞ÏúÑ,2021-09-03,0.000000,207532.800000,2620512.000000,33188000.000000,68.200000
3,Íµ∞ÏúÑ,2021-09-04,0.000000,229478.400000,121564.800000,33296000.000000,68.400000
4,Íµ∞ÏúÑ,2021-09-05,0.000000,128908.800000,128908.800000,33296000.000000,68.400000

In [22]:
duplicates = df[df.duplicated(subset = ['dam_nm', 'obsr_de'], keep = False)]
print(duplicates)

Empty DataFrame
Columns: [dam_nm, obsr_de, rain_qy, inflow_qy, tot_dcwtr_qy, rsvwt_qy, dam_rsvwt_rt]
Index: []

- Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞Îäî x

## **1-2. Ï†úÏõêÏ†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞**
- 21Í∞úÏùò ÎåêÏóê ÎåÄÌïú Ï†úÏõê Ï†ïÎ≥¥Î•º Ìè¨Ìï®ÌïòÎäî Îç∞Ïù¥ÌÑ∞
  - ÎÜíÏù¥, Í∏∏Ïù¥, ÏàòÏúÑ, Ïö©Îüâ Îì±
- Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÌïÑÏöîÌïú Ïª¨ÎüºÎßåÏùÑ ÏÑ†ÌÉùÌïòÏó¨ Ï†ÄÏû•
  - Îåê Ïù¥Î¶Ñ, Ïú†Ìö®Ï†ÄÏàòÎüâ
- ÌôúÏö© Îç∞Ïù¥ÌÑ∞ Î™©Î°ù
  - [Îã§Î™©Ï†ÅÎåê Ï†úÏõê Ï†ïÎ≥¥](https://www.bigdata-environment.kr/user/data_market/detail.do?id=b74c6b60-38bb-11ea-be28-4fa0eb812a46)

### **üìåData Description**
1. dam_nm: ÎåêÏù¥Î¶Ñ
2. valid_rsvwt_cpcty_qy: Ïú†Ìö®Ï†ÄÏàòÏö©Îüâ

In [23]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

df_valid_capa = pd.read_csv('/content/drive/MyDrive/2023·ÑÇ·Öß·Ü´ K-water ·ÑÉ·Ö¢·ÑÄ·ÖÆ·Ü®·ÑÜ·Öµ·Ü´ ·ÑÜ·ÖÆ·ÜØ ·Ñá·Öµ·Ü®·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö• ·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü®·ÑÄ·Ö™·Ñå·Ö¶ ·ÑÄ·Ö©·Üº·ÑÜ·Ö©·Ñå·Ö•·Ü´/data/·ÑÉ·Ö°·ÑÜ·Ö©·Ü®·Ñå·Ö•·Ü®·ÑÉ·Ö¢·Ü∑_·Ñå·Ö¶·Ñã·ÖØ·Ü´_·Ñå·Ö•·Üº·Ñá·Ö©.csv', sep = ',')
df_valid_capa

   dam_nm  valid_rsvwt_cpcty_qy
0      Íµ∞ÏúÑ             40.100000
1    ÍπÄÏ≤úÎ∂ÄÌï≠             42.600000
2      ÎÇ®Í∞ï            299.700000
3      ÎåÄÏ≤≠            790.000000
4      Î∞ÄÏñë             69.800000
5      Î≥¥Î†π            108.700000
6     Î≥¥ÌòÑÏÇ∞             17.880000
7      Î∂ÄÏïà             35.600000
8     ÏÑ¨ÏßÑÍ∞ï            429.000000
9      ÏÑ±Îçï             24.800000
10    ÏÜåÏñëÍ∞ï           1900.000000
11     ÏïàÎèô           1000.000000
12     ÏòÅÏ£º            160.400000
13     Ïö©Îã¥            672.520000
14     ÏûÑÌïò            424.000000
15     Ïû•Ìù•            171.000000
16  Ï£ºÏïî(Î≥∏)            352.000000
17  Ï£ºÏïî(Ï°∞)            210.000000
18     Ï∂©Ï£º           1789.000000
19     Ìï©Ï≤ú            560.000000
20     Ìö°ÏÑ±             73.400000

### **Îã®ÏúÑ Î≥ÄÍ≤Ω**
- Ïú†Ìö®Ï†ÄÏàòÎüâÏùò m3 * Î∞±ÎßåÏùÑ m3ÏúºÎ°ú Î≥ÄÍ≤Ω

In [24]:
df_valid_capa['valid_rsvwt_cpcty_qy'] = df_valid_capa['valid_rsvwt_cpcty_qy'] * 1000000

In [25]:
df_valid_capa

   dam_nm  valid_rsvwt_cpcty_qy
0      Íµ∞ÏúÑ       40100000.000000
1    ÍπÄÏ≤úÎ∂ÄÌï≠       42600000.000000
2      ÎÇ®Í∞ï      299700000.000000
3      ÎåÄÏ≤≠      790000000.000000
4      Î∞ÄÏñë       69800000.000000
5      Î≥¥Î†π      108700000.000000
6     Î≥¥ÌòÑÏÇ∞       17880000.000000
7      Î∂ÄÏïà       35600000.000000
8     ÏÑ¨ÏßÑÍ∞ï      429000000.000000
9      ÏÑ±Îçï       24800000.000000
10    ÏÜåÏñëÍ∞ï     1900000000.000000
11     ÏïàÎèô     1000000000.000000
12     ÏòÅÏ£º      160400000.000000
13     Ïö©Îã¥      672520000.000000
14     ÏûÑÌïò      424000000.000000
15     Ïû•Ìù•      171000000.000000
16  Ï£ºÏïî(Î≥∏)      352000000.000000
17  Ï£ºÏïî(Ï°∞)      210000000.000000
18     Ï∂©Ï£º     1789000000.000000
19     Ìï©Ï≤ú      560000000.000000
20     Ìö°ÏÑ±       73400000.000000

- Ï†úÎåÄÎ°ú Î≥ÄÍ≤ΩÎêú Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÎã§.

In [26]:
df_valid_capa['dam_nm'].unique()

array(['Íµ∞ÏúÑ', 'ÍπÄÏ≤úÎ∂ÄÌï≠', 'ÎÇ®Í∞ï', 'ÎåÄÏ≤≠', 'Î∞ÄÏñë', 'Î≥¥Î†π', 'Î≥¥ÌòÑÏÇ∞', 'Î∂ÄÏïà', 'ÏÑ¨ÏßÑÍ∞ï', 'ÏÑ±Îçï',
       'ÏÜåÏñëÍ∞ï', 'ÏïàÎèô', 'ÏòÅÏ£º', 'Ïö©Îã¥', 'ÏûÑÌïò', 'Ïû•Ìù•', 'Ï£ºÏïî(Î≥∏)', 'Ï£ºÏïî(Ï°∞)', 'Ï∂©Ï£º', 'Ìï©Ï≤ú',
       'Ìö°ÏÑ±'], dtype=object)

- Ï†ïÏÉÅÏ†ÅÏúºÎ°ú **21Í∞ú**Ïùò ÎåêÏùò Ïú†Ìö®Ï†ÄÏàòÎüâÏù¥ Ìè¨Ìï®ÎêòÏñ¥ ÏûàÏùå

In [27]:
# Îëê Îç∞Ïù¥ÌÑ∞Í∞Ä Í∞ÄÏßÑ ÎåêÏù¥ ÏÑúÎ°ú ÎèôÏùºÌïúÏßÄ ÌôïÏù∏

sum(~df['dam_nm'].isin(df_valid_capa['dam_nm']))

0

- Îëê Í∞úÏùò Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÎèôÏùºÌïú ÎåêÏóê ÎåÄÌïú Ï†ïÎ≥¥Îì§ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÏùåÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÎã§.
  - Îåê Ïù¥Î¶ÑÏóêÏÑú Ï∞®Ïù¥Í∞Ä x

In [28]:
# Í∏∞Ï°¥ df ÏôÄ df_valid_capa Î≥ëÌï©ÌïòÍ∏∞(merge)

df = pd.merge(left = df, right = df_valid_capa,
              how = "inner", on = "dam_nm") # dam_nm Í∏∞Ï§ÄÏúºÎ°ú Í≤∞Ìï©

In [29]:
df

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt,valid_rsvwt_cpcty_qy
0,Íµ∞ÏúÑ,2021-09-01,61.107600,2902435.200000,2394057.600000,38444000.000000,78.900000,40100000.000000
1,Íµ∞ÏúÑ,2021-09-02,0.236600,1394668.800000,4237228.800000,35601000.000000,73.100000,40100000.000000
2,Íµ∞ÏúÑ,2021-09-03,0.000000,207532.800000,2620512.000000,33188000.000000,68.200000,40100000.000000
3,Íµ∞ÏúÑ,2021-09-04,0.000000,229478.400000,121564.800000,33296000.000000,68.400000,40100000.000000
4,Íµ∞ÏúÑ,2021-09-05,0.000000,128908.800000,128908.800000,33296000.000000,68.400000,40100000.000000
...,...,...,...,...,...,...,...,...
30676,Ìö°ÏÑ±,2020-08-27,7.265100,557107.200000,1364342.400000,64670000.000000,74.400000,73400000.000000
30677,Ìö°ÏÑ±,2020-08-28,59.311900,733104.000000,380764.800000,65022000.000000,74.800000,73400000.000000
30678,Ìö°ÏÑ±,2020-08-29,24.223100,3824755.200000,1530144.000000,67317000.000000,77.500000,73400000.000000
30679,Ìö°ÏÑ±,2020-08-30,39.712700,3964377.600000,2511561.600000,68770000.000000,79.100000,73400000.000000
30680,Ìö°ÏÑ±,2020-08-31,0.000000,3438115.200000,4993920.000000,67214000.000000,77.400000,73400000.000000

- Ï†ïÌôïÌûà Í≤∞Ìï©Îêú Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏùå

## **1-3. Í∏∞ÏÉÅÏûêÎ£å**
- Í∞Å ÎåêÏù¥ ÏúÑÏπòÌïòÎäî ÏßÄÏó≠Ïùò Í∏∞ÏÉÅÏ†ïÎ≥¥Ïóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞
  - ÏäµÎèÑ, Í∏∞Ïò®, ÌíçÏÜç, ÏùºÏÇ¨Îüâ
- Ïó¨Îü¨ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÌïÑÏöîÌïú Ï†ïÎ≥¥Îì§ÏùÑ ÏàòÏßë ÌõÑ ÏµúÏ¢Ö Îç∞Ïù¥ÌÑ∞ ÌòïÌÉúÎ°ú Í≤∞Ìï©Ìï®
- ÌôúÏö© Îç∞Ïù¥ÌÑ∞ Î™©Î°ù
  - [ÌôòÍ≤Ω ÎπÖÎç∞Ïù¥ÌÑ∞ ÌîåÎû´Ìèº_Í¥ÄÏ∏°ÏÜåÎ≥ÑÍ∏∞ÏÉÅÍ¥ÄÏ∏°Ï†ïÎ≥¥](https://www.bigdata-environment.kr/user/data_market/detail.do?id=b1de30f0-38bb-11ea-be28-4fa0eb812a46)
  - [Íµ≠Í∞ÄÏàòÏûêÏõêÍ¥ÄÎ¶¨Ï¢ÖÌï©Ï†ïÎ≥¥ÏãúÏä§ÌÖú_Ïã§ÏãúÍ∞Ñ Í∏∞ÏÉÅÏûêÎ£å](http://www.wamis.go.kr/wkw/we_dwtwtobs.do)
  - [ÎÜçÏ¥åÏßÑÌù•Ï≤≠_Í∏∞ÏÉÅÌÜµÍ≥Ñ](https://fruit.nihhs.go.kr/main/aws/awsStat.do)
  - [Íµ≠Î¶ΩÎÜçÏóÖÍ≥ºÌïôÏõê_ÎÜçÏóÖÍ∏∞ÏÉÅÏ†ïÎ≥¥_Ï£ºÏÇ∞ÏßÄÍ∏∞ÏÉÅÎ∂ÑÏÑù](http://weather.rda.go.kr/w/farmProduce/frcPlpdAvg.do)
  - [ÎÜçÏóÖÍ¥ÄÏ∏°ÌÜµÌï©ÏãúÏä§ÌÖú](https://oasis.krei.re.kr/basicInfo/etc/kma.do)

### **üìå Data Description**
1. dam_nm: ÎåêÏù¥Î¶Ñ
2. anc_dt: Í¥ÄÏ∏°ÏùºÏûê
3. avg_hmd: ÌèâÍ∑†ÏäµÎèÑ
4. avg_tmr: ÌèâÍ∑†Í∏∞Ïò®
5. avg_wv: ÌèâÍ∑†ÌíçÏÜç
6. snsn_sum: ÏùºÏÇ¨Îüâ

### **a) Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞**

In [30]:
weather_path = '/content/drive/MyDrive/2023·ÑÇ·Öß·Ü´ K-water ·ÑÉ·Ö¢·ÑÄ·ÖÆ·Ü®·ÑÜ·Öµ·Ü´ ·ÑÜ·ÖÆ·ÜØ ·Ñá·Öµ·Ü®·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö• ·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü®·ÑÄ·Ö™·Ñå·Ö¶ ·ÑÄ·Ö©·Üº·ÑÜ·Ö©·Ñå·Ö•·Ü´/data/·ÑÄ·Ö™·Ü´·Ñé·Ö≥·Ü®·Ñâ·Ö©·Ñá·Öß·ÜØ·ÑÄ·Öµ·Ñâ·Ö°·Üº·ÑÄ·Ö™·Ü´·Ñé·Ö≥·Ü®·Ñå·Ö•·Üº·Ñá·Ö©' # path Î≥ÄÏàòÏóê Í≤ΩÎ°ú ÏßÄÏ†ï

In [31]:
weather_list = os.listdir(weather_path)
print(weather_list)
print(len(weather_list))

['·Ñã·Öµ·ÜØ·Ñâ·Ö°·ÑÖ·Ö£·Üº ·ÑÄ·Öß·ÜØ·Ñé·Ö≥·Ü®·Ñé·Öµ ·Ñí·Ö¢·Ü´·ÑÉ·Ö≥·ÜØ·ÑÖ·Öµ·Üº.pdf', '202002.csv', '202003.csv', '202004.csv', '202005.csv', '202006.csv', '202008.csv', '202009.csv', '202010.csv', '202011.csv', '202101.csv', '202102.csv', '202103.csv', '202104.csv', '202105.csv', '202106.csv', '202207.csv', '202001.csv', '202007.csv', '202012.csv', '202107.csv', '202112.csv', '202202.csv', '202203.csv', '202204.csv', '202205.csv', '202206.csv', '202209.csv', '201901_201906.csv', '202108.csv', '202109.csv', '202201.csv', '201907_201912.csv', '202110.csv', '202111.csv', '202208.csv', '202211.csv', '202212.csv', '202210.csv']
39

In [32]:
df2 = file_concat(weather_path, weather_list)

In [33]:
df2

      dam_nm    anc_dt   avg_hmd   avg_tmr   avg_wv  snsn_sum
0         Íµ∞ÏúÑ  20200201 67.600000  2.900000 2.000000  7.100000
1         Íµ∞ÏúÑ  20200202 61.500000  3.600000 1.200000  8.300000
2         Íµ∞ÏúÑ  20200203 45.600000  3.100000 2.900000  7.200000
3         Íµ∞ÏúÑ  20200204 42.500000  1.900000 1.800000  9.800000
4         Íµ∞ÏúÑ  20200205 30.800000 -1.500000 4.500000 10.100000
...      ...       ...       ...       ...      ...       ...
30676     Ìö°ÏÑ±  20221027 76.900000 10.100000 0.600000  7.000000
30677     Ìö°ÏÑ±  20221028 75.900000 11.200000 0.700000  5.800000
30678     Ìö°ÏÑ±  20221029 75.300000 11.100000 0.400000  6.100000
30679     Ìö°ÏÑ±  20221030 75.800000 11.100000 0.500000  5.700000
30680     Ìö°ÏÑ±  20221031 76.600000 11.100000 0.500000  6.900000

[30681 rows x 6 columns]

In [34]:
### Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥ ÌôïÏù∏

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30681 entries, 0 to 30680
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dam_nm    30681 non-null  object
 1   anc_dt    30681 non-null  int64
 2   avg_hmd   30615 non-null  float64
 3   avg_tmr   30671 non-null  float64
 4   avg_wv    30672 non-null  float64
 5   snsn_sum  30651 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.4+ MB

- Î≥ÄÏàòÎ™Ö ÌÜµÏùº
  - Í¥ÄÏ∏°ÏùºÏûêÏùò Í≤ΩÏö∞ Îã§Î•∏ Îç∞Ïù¥ÌÑ∞ÏôÄÏùò Î≥ëÌï©ÏùÑ ÏúÑÌï¥ ```anc_dt```ÏóêÏÑú ```obsr_de```Î°ú Î≥ÄÍ≤Ω
- Îç∞Ïù¥ÌÑ∞Ìòï Î≥ÄÍ≤Ω
  - obsr_de: object -> datetime
- Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ ÌïÑÏöî

In [35]:
# Î≥ÄÏàòÎ™Ö Î≥ÄÍ≤Ω

df2.rename(columns={'anc_dt':'obsr_de'}, inplace = True)

In [36]:
df2

      dam_nm   obsr_de   avg_hmd   avg_tmr   avg_wv  snsn_sum
0         Íµ∞ÏúÑ  20200201 67.600000  2.900000 2.000000  7.100000
1         Íµ∞ÏúÑ  20200202 61.500000  3.600000 1.200000  8.300000
2         Íµ∞ÏúÑ  20200203 45.600000  3.100000 2.900000  7.200000
3         Íµ∞ÏúÑ  20200204 42.500000  1.900000 1.800000  9.800000
4         Íµ∞ÏúÑ  20200205 30.800000 -1.500000 4.500000 10.100000
...      ...       ...       ...       ...      ...       ...
30676     Ìö°ÏÑ±  20221027 76.900000 10.100000 0.600000  7.000000
30677     Ìö°ÏÑ±  20221028 75.900000 11.200000 0.700000  5.800000
30678     Ìö°ÏÑ±  20221029 75.300000 11.100000 0.400000  6.100000
30679     Ìö°ÏÑ±  20221030 75.800000 11.100000 0.500000  5.700000
30680     Ìö°ÏÑ±  20221031 76.600000 11.100000 0.500000  6.900000

[30681 rows x 6 columns]

In [37]:
# Í≤∞Ï∏°ÏπòÎÇò Î≥ÄÍ≤ΩÌï† Ïàò ÏóÜÎäî Í∞íÏù¥ ÏûàÎã§Î©¥ ÏùºÎã® Î™®Îëê Î¨¥ÏãúÌïòÍ≥† Îç∞Ïù¥ÌÑ∞Ìòï Î≥ÄÍ≤Ω

df2['obsr_de'] = df2['obsr_de'].apply(lambda x: pd.to_datetime(x, format = '%Y%m%d',errors = 'coerce'))

### **b) Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨**
- Í∏∞ÏÉÅ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ÏÑúÎßå Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨  
(ÏùºÎã®ÏùÄ ÏàòÌñâ x)
- Ïù¥ÏÉÅÏπò Ï†úÍ±∞Î•º ÏàòÌñâÌïòÎ†§Î©¥ Ï£ºÏÑù Ìï¥Ï†ú ÌõÑ Ïù¥ÏÉÅÏπò Ï†úÍ±∞ ÏàòÌñâÌïòÏãúÎ©¥ Îê©ÎãàÎãπ

In [38]:
### Ïù¥ÏÉÅÏπò ÌÉêÏßÄ Ìï®Ïàò

def get_outlier(df = None, dam_name = None, year = None, month = None, column = None, weight = 1.5):
    # 1/4 Î∂ÑÏúÑÏôÄ 3/4 Î∂ÑÏúÑ ÏßÄÏ†êÏùÑ np.percentileÎ°ú Íµ¨Ìï®
    df_col = df[column]
    quantile_25 = np.percentile(df_col.values, 25)
    quantile_75 = np.percentile(df_col.values, 75)

    # IQRÏùÑ Íµ¨ÌïòÍ≥†, IQRÏóê 1.5Î•º Í≥±ÌïòÏó¨ ÏµúÎåÄÍ∞íÍ≥º ÏµúÏÜåÍ∞í ÏßÄÏ†ê Íµ¨Ìï®.
    iqr = quantile_75 - quantile_25
    iqr_weight = iqr * weight
    lowest_val = quantile_25 - iqr_weight
    highest_val = quantile_75 + iqr_weight

    # ÏµúÎåÄÍ∞í Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò, ÏµúÏÜåÍ∞í Î≥¥Îã§ ÏûëÏùÄ Í∞íÏùÑ Ïù¥ÏÉÅÏπòÎ°ú ÏÑ§Ï†ïÌïòÍ≥† DataFrame index Î∞òÌôò
    outlier_index = df_col[(df_col < lowest_val) | (df_col > highest_val)].index

    # Ïù¥ÏÉÅÏπò Ï†ïÎ≥¥Î•º Ï†ÄÏû•Ìï† dictionary ÏÉùÏÑ±
    outlier_info = {
        'dam_nm': dam_name,
        'obsr_de': f'{year}ÎÖÑ {month}Ïõî',
        'column': column,
        'outlier_idx': outlier_index
    }

    return outlier_info

In [ ]:
# Îåê Ïù¥Î¶Ñ, Ïõî, Ïª¨ÎüºÎ™ÖÏùÑ Ï†ÄÏû•Ìï† Î¶¨Ïä§Ìä∏ ÏÉùÏÑ±
outlier_info_list = []

cols = ['avg_hmd', 'avg_tmr', 'avg_wv', 'snsn_sum']
grouped = df2.groupby(['dam_nm', df['obsr_de'].dt.year, df['obsr_de'].dt.month])  # ÎåêÎ≥ÑÎ°ú + Ïó∞ÎèÑÎ≥Ñ + ÏõîÎ≥ÑÎ°ú

for col in cols:
  for (dam, year, month), group_data in grouped:
    outlier_info = get_outlier(group_data, dam_name=dam, year=year, month=month, column=col, weight=1.5)
    if len(outlier_info['outlier_idx']) > 0:
      outlier_info_list.append(outlier_info)

# Ïù¥ÏÉÅÏπò Ï†ïÎ≥¥ Ï∂úÎ†•
for outlier_info in outlier_info_list:
  dam_name = outlier_info['dam_nm']
  obsr_de = outlier_info['obsr_de']
  col = outlier_info['column']
  outlier_idx = outlier_info['outlier_idx']
  print('Îåê: {}, Ïõî: {}, Ïª¨Îüº: {}, Ïù¥ÏÉÅÏπò Îç∞Ïù¥ÌÑ∞ Ïù∏Îç±Ïä§: {}'.format(dam_name, obsr_de, col, outlier_idx))
  print()

  # Ïù¥ÏÉÅÏπòÍ∞Ä Ìè¨Ìï®Îêú Ìñâ ÏÇ≠Ï†ú
  # df.drop(outlier_idx, inplace = True) -- ÏùºÎã®ÏùÄ ÏàòÌñâ ÏïàÌï®

In [40]:
# Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨ ÌõÑ DataFrame ÌôïÏù∏
# df

### **c) Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨**

In [41]:
# ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞ ÎÇ¥Ïùò Í≤∞Ï∏°ÏπòÎäî Í≥µÎ∞±ÏúºÎ°ú Ï≤òÎ¶¨ÎêòÏñ¥ ÏûàÏùå
# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÎÇ¥Ïùò Í≥µÎ∞±ÏùÑ NaNÏúºÎ°ú Î≥ÄÍ≤Ω

df2.replace('', np.nan, inplace = True)

In [42]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30681 entries, 0 to 30680
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dam_nm    30681 non-null  object
 1   obsr_de   30681 non-null  datetime64[ns]
 2   avg_hmd   30615 non-null  float64
 3   avg_tmr   30671 non-null  float64
 4   avg_wv    30672 non-null  float64
 5   snsn_sum  30651 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 1.4+ MB

- Ïó¨Îü¨ Î≥ÄÏàòÎì§Ïóê Í±∏Ï≥ê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Í≤ÉÏúºÎ°ú Î≥¥Ïù∏Îã§.
- Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨
  - ÏäµÎèÑ -> ÏµúÎπàÍ∞í
  - Ïò®ÎèÑ -> ÌèâÍ∑†
  - ÌíçÏÜç -> ÌèâÍ∑†
  - ÏùºÏÇ¨Îüâ -> ÏµúÎπàÍ∞í

In [43]:
## ÏäµÎèÑ
len(df2.loc[df2['avg_hmd'].isna(),:])

66

In [44]:
# Ìï¥Îãπ ÎåêÏùò Ìï¥Îãπ Ïó∞ÎèÑ + Îã¨Ïùò ÏäµÎèÑ ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥

df2['avg_hmd'] = df2.groupby(['dam_nm',df2['obsr_de'].dt.year, df2['obsr_de'].dt.month])['avg_hmd'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [45]:
df2.loc[df2['avg_hmd'].isna(),:]

Empty DataFrame
Columns: [dam_nm, obsr_de, avg_hmd, avg_tmr, avg_wv, snsn_sum]
Index: []

In [46]:
## Ïò®ÎèÑ

len(df2.loc[df2['avg_tmr'].isna(),:])

10

In [47]:
# Ìï¥Îãπ ÎåêÏùò Ìï¥Îãπ Ïó∞ÎèÑ + Îã¨Ïùò Ïò®ÎèÑ ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥

df2['avg_tmr'] = df2.groupby(['dam_nm',df2['obsr_de'].dt.year, df2['obsr_de'].dt.month])['avg_tmr'].transform(lambda x: x.fillna(x.mean()))

In [48]:
df2.loc[df2['avg_tmr'].isna(),:]

Empty DataFrame
Columns: [dam_nm, obsr_de, avg_hmd, avg_tmr, avg_wv, snsn_sum]
Index: []

In [49]:
## ÌíçÏÜç

len(df2.loc[df2['avg_wv'].isna(),:])

9

In [50]:
# ÏõîÎ≥Ñ Í≥ÑÏ†à Ï†ïÎ≥¥Î•º Í∞ÄÏßÄÍ≥† ÏûàÎäî Ìï®ÏàòÎ•º Ï†ïÏùòÌï©ÎãàÎã§.
def get_season(month):
    if month in [3, 4, 5]:    # Î¥Ñ
        return 'Î¥Ñ'
    elif month in [6, 7, 8]:  # Ïó¨Î¶Ñ
        return 'Ïó¨Î¶Ñ'
    elif month in [9, 10, 11]:  # Í∞ÄÏùÑ
        return 'Í∞ÄÏùÑ'
    else:                     # Í≤®Ïö∏ (12, 1, 2Ïõî)
        return 'Í≤®Ïö∏'

In [51]:
# Í≥ÑÏ†à Ï†ïÎ≥¥ Ï∂îÍ∞Ä
df2['season'] = df2['obsr_de'].dt.month.apply(get_season)

# Ïó¨Î¶ÑÍ≥º Í≤®Ïö∏ÏùÄ ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥, Î¥ÑÍ≥º Í∞ÄÏùÑÏùÄ ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥
df2['avg_wv'] = df2.groupby(['dam_nm',df2['obsr_de'].dt.year, df2['obsr_de'].dt.month, 'season'])['avg_wv'].transform(lambda x: x.fillna(x.mode()[0]) if x.name[2]=='Ïó¨Î¶Ñ' or x.name[2]=='Í≤®Ïö∏' else x.fillna(x.mean()))

In [52]:
df2.loc[df2['avg_wv'].isna(),:]

Empty DataFrame
Columns: [dam_nm, obsr_de, avg_hmd, avg_tmr, avg_wv, snsn_sum, season]
Index: []

In [53]:
# Í≥ÑÏ†à Ï†ïÎ≥¥Îäî ÎçîÏù¥ÏÉÅ ÌïÑÏöî ÏóÜÏúºÎØÄÎ°ú ÏÇ≠Ï†ú

df2.drop('season', axis = 1, inplace = True)

In [54]:
## ÏùºÏÇ¨Îüâ

len(df2.loc[df2['snsn_sum'].isna(),:])

30

In [55]:
# Ìï¥Îãπ ÎåêÏùò Ìï¥Îãπ Ïó∞ÎèÑ + Îã¨Ïùò ÏäµÎèÑ ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥

df2['snsn_sum'] = df2.groupby(['dam_nm',df2['obsr_de'].dt.year, df2['obsr_de'].dt.month])['snsn_sum'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [56]:
df2.loc[df2['snsn_sum'].isna(),:]

Empty DataFrame
Columns: [dam_nm, obsr_de, avg_hmd, avg_tmr, avg_wv, snsn_sum]
Index: []

In [57]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30681 entries, 0 to 30680
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dam_nm    30681 non-null  object
 1   obsr_de   30681 non-null  datetime64[ns]
 2   avg_hmd   30681 non-null  float64
 3   avg_tmr   30681 non-null  float64
 4   avg_wv    30681 non-null  float64
 5   snsn_sum  30681 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 1.4+ MB

- Í≤∞Ï∏°ÏπòÍ∞Ä Ï†úÎåÄÎ°ú Ï±ÑÏõåÏ°åÎã§.

In [58]:
sum(~df['dam_nm'].isin(df2['dam_nm']))

0

- Îåê Ïù¥Î¶ÑÏùÄ Î™®Îëê ÎèôÏùº

In [59]:
sum(~df['obsr_de'].isin(df2['obsr_de']))

0

- Í¥ÄÏ∏°ÏùºÏûêÎèÑ Î™®Îëê ÎèôÏùº

In [60]:
duplicates2 = df2[df2.duplicated(subset = ['dam_nm', 'obsr_de'], keep=False)]
print(duplicates2)

Empty DataFrame
Columns: [dam_nm, obsr_de, avg_hmd, avg_tmr, avg_wv, snsn_sum]
Index: []

- Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞Îäî ÏóÜÏùåÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÎã§.

In [61]:
### Îç∞Ïù¥ÌÑ∞ Î≥ëÌï©

df = pd.merge(left = df, right = df2, how = "inner", on = ['dam_nm','obsr_de'] ) # dam_nm, Í¥ÄÏ∏°Ïùº Í∏∞Ï§ÄÏúºÎ°ú Ï°∞Ïù∏

In [62]:
df

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt,valid_rsvwt_cpcty_qy,avg_hmd,avg_tmr,avg_wv,snsn_sum
0,Íµ∞ÏúÑ,2021-09-01,61.107600,2902435.200000,2394057.600000,38444000.000000,78.900000,40100000.000000,90.800000,21.900000,2.400000,0.200000
1,Íµ∞ÏúÑ,2021-09-02,0.236600,1394668.800000,4237228.800000,35601000.000000,73.100000,40100000.000000,77.100000,21.800000,2.500000,0.900000
2,Íµ∞ÏúÑ,2021-09-03,0.000000,207532.800000,2620512.000000,33188000.000000,68.200000,40100000.000000,86.500000,20.500000,1.400000,0.700000
3,Íµ∞ÏúÑ,2021-09-04,0.000000,229478.400000,121564.800000,33296000.000000,68.400000,40100000.000000,66.400000,22.400000,2.000000,7.700000
4,Íµ∞ÏúÑ,2021-09-05,0.000000,128908.800000,128908.800000,33296000.000000,68.400000,40100000.000000,68.500000,21.800000,1.700000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
30676,Ìö°ÏÑ±,2020-08-27,7.265100,557107.200000,1364342.400000,64670000.000000,74.400000,73400000.000000,80.800000,27.400000,2.000000,3.600000
30677,Ìö°ÏÑ±,2020-08-28,59.311900,733104.000000,380764.800000,65022000.000000,74.800000,73400000.000000,85.900000,27.000000,1.100000,3.700000
30678,Ìö°ÏÑ±,2020-08-29,24.223100,3824755.200000,1530144.000000,67317000.000000,77.500000,73400000.000000,88.400000,25.800000,0.600000,1.300000
30679,Ìö°ÏÑ±,2020-08-30,39.712700,3964377.600000,2511561.600000,68770000.000000,79.100000,73400000.000000,90.300000,25.100000,0.800000,1.700000
30680,Ìö°ÏÑ±,2020-08-31,0.000000,3438115.200000,4993920.000000,67214000.000000,77.400000,73400000.000000,79.600000,24.600000,1.100000,1.000000

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30681 entries, 0 to 30680
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dam_nm                30681 non-null  object
 1   obsr_de               30681 non-null  datetime64[ns]
 2   rain_qy               30681 non-null  float64
 3   inflow_qy             30681 non-null  float64
 4   tot_dcwtr_qy          30681 non-null  float64
 5   rsvwt_qy              30681 non-null  float64
 6   dam_rsvwt_rt          30681 non-null  float64
 7   valid_rsvwt_cpcty_qy  30681 non-null  float64
 8   avg_hmd               30681 non-null  float64
 9   avg_tmr               30681 non-null  float64
 10  avg_wv                30681 non-null  float64
 11  snsn_sum              30681 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 3.0+ MB

- Í≤∞Ï∏°Ïπò ÏóÜÏù¥ Ïûò Ï≤òÎ¶¨ÎêòÏóàÎã§.

In [64]:
df.describe()

,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt,valid_rsvwt_cpcty_qy,avg_hmd,avg_tmr,avg_wv,snsn_sum
count,30681.000000,30681.000000,30681.000000,30681.000000,30681.000000,30681.000000,30681.000000,30681.000000,30681.000000,30681.000000
mean,3.542968,2098514.919325,2174760.721913,362762394.426518,57.301970,436690476.190476,68.671781,13.109908,1.567154,8.731742
std,12.517330,11234196.651089,9133806.691881,493718979.500815,16.767103,530064544.825343,15.216576,9.891448,0.979103,6.221841
min,0.000000,0.000000,0.000000,3000.000000,0.000000,17880000.000000,0.800000,-16.000000,0.020000,0.080000
25%,0.000000,40521.600000,137894.400000,39345000.000000,46.400000,69800000.000000,58.400000,5.100000,0.900000,5.000000
50%,0.000000,248572.800000,588556.800000,135101000.000000,58.400000,210000000.000000,70.600000,13.300000,1.300000,8.200000
75%,0.491400,1110758.400000,1614211.200000,466956000.000000,69.200000,560000000.000000,80.000000,21.600000,1.900000,11.100000
max,334.630500,471567484.800000,434386022.400000,2416721000.000000,98.900000,1900000000.000000,100.000000,94.200000,10.000000,446.000000

# **2. ÏµúÏ¢Ö Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨**

## **2-1. Î≥ÄÏàòÎ™Ö Î≥ÄÍ≤Ω**

In [65]:
df.columns = ['dam_nm','obsr_de', 'rain_qy', 'inflow_qy', 'outflow_qy', 'reserve_qy', 'reserve_rt', 'valid_qy', 'avg_hmd', 'avg_tmr', 'avg_wv', 'sun_sum']

In [66]:
df.head()

,dam_nm,obsr_de,rain_qy,inflow_qy,outflow_qy,reserve_qy,reserve_rt,valid_qy,avg_hmd,avg_tmr,avg_wv,sun_sum
0,Íµ∞ÏúÑ,2021-09-01,61.107600,2902435.200000,2394057.600000,38444000.000000,78.900000,40100000.000000,90.800000,21.900000,2.400000,0.200000
1,Íµ∞ÏúÑ,2021-09-02,0.236600,1394668.800000,4237228.800000,35601000.000000,73.100000,40100000.000000,77.100000,21.800000,2.500000,0.900000
2,Íµ∞ÏúÑ,2021-09-03,0.000000,207532.800000,2620512.000000,33188000.000000,68.200000,40100000.000000,86.500000,20.500000,1.400000,0.700000
3,Íµ∞ÏúÑ,2021-09-04,0.000000,229478.400000,121564.800000,33296000.000000,68.400000,40100000.000000,66.400000,22.400000,2.000000,7.700000
4,Íµ∞ÏúÑ,2021-09-05,0.000000,128908.800000,128908.800000,33296000.000000,68.400000,40100000.000000,68.500000,21.800000,1.700000,1.000000

In [67]:
df.to_csv("/content/drive/MyDrive/2023·ÑÇ·Öß·Ü´ K-water ·ÑÉ·Ö¢·ÑÄ·ÖÆ·Ü®·ÑÜ·Öµ·Ü´ ·ÑÜ·ÖÆ·ÜØ ·Ñá·Öµ·Ü®·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö• ·Ñá·ÖÆ·Ü´·Ñâ·Ö•·Ü®·ÑÄ·Ö™·Ñå·Ö¶ ·ÑÄ·Ö©·Üº·ÑÜ·Ö©·Ñå·Ö•·Ü´/data/·Ñá·Öß·Üº·Ñí·Ö°·Ü∏ ·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•(·Ñâ·ÖÆ·Ñá·Öµ·Ü´)/final.csv")