In [8]:
import numpy as np
import pandas as pd
import os
import chardet

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
### 파일 병합을 위한 함수

def file_concat(path, file_list):
  dfs = []  # DataFrame들을 저장할 리스트

  for file in file_list:
    # 파일 확장자가 .csv인 경우에만 처리
    if file.endswith(".csv"):
      file_path = os.path.join(path, file)

      # 파일을 열어서 인코딩 확인
      with open(file_path, 'rb') as f:
        rawdata = f.read()
      result = chardet.detect(rawdata)
      enc = result['encoding']

      # 해당 파일의 인코딩에 맞게 열어서 DataFrame으로 변환
      df = pd.read_csv(file_path, encoding = enc)
      dfs.append(df)

  # DataFrame들을 세로 방향으로 이어붙임
  df = pd.concat(dfs, axis = 0, ignore_index = True)  # ignore_index = True로 해줘야 오류 없이 밑으로 결합됨

  return df

1. 저수량 데이터

In [23]:
w_path = '/content/drive/MyDrive/다목적댐운영정보'
# w_path 변수에 경로 지정

In [24]:
w_list = os.listdir(water_path)
print(w_list)

['202105.csv', '202107.csv', '202103.csv', '202106.csv', '202102.csv', '202104.csv', '202101.csv', '202012.csv', '202004.csv', '202002.csv', '202011.csv', '202010.csv', '202009.csv', '202008.csv', '202006.csv', '202005.csv', '202007.csv', '202003.csv', '201911.csv', '202001.csv', '201912.csv', '201908.csv', '201906.csv', '201905.csv', '201907.csv', '201909.csv', '201910.csv', '201903.csv', '201904.csv', '201902.csv', '201901.csv', '202210.csv', '202208.csv', '202212.csv', '202211.csv', '202209.csv', '202207.csv', '202206.csv', '202203.csv', '202205.csv', '202204.csv', '202111.csv', '202201.csv', '202112.csv', '202202.csv', '202110.csv', '202109.csv', '202108.csv']

In [25]:
def file_concat(path, file_list):
  dfs = []  # DataFrame들을 저장할 리스트

  for file in file_list:
    # 파일 확장자가 .csv인 경우에만 처리
    if file.endswith(".csv"):
      file_path = os.path.join(path, file)

      # 파일을 열어서 인코딩 확인
      with open(file_path, 'rb') as f:
        rawdata = f.read()
      result = chardet.detect(rawdata)
      enc = result['encoding']

      # 해당 파일의 인코딩에 맞게 열어서 DataFrame으로 변환
      df = pd.read_csv(file_path, encoding = enc)
      dfs.append(df)

  # DataFrame들을 세로 방향으로 이어붙임
  df = pd.concat(dfs, axis = 0, ignore_index = True)  # ignore_index = True로 해줘야 오류 없이 밑으로 결합됨
  return df

In [26]:
df = file_concat(w_path, w_list)

In [27]:
df

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt
0,군위,20210501,4.7634,14688.0,68688.0,22.675,46.6
1,군위,20210502,4.0,14688.0,68601.6,22.621,46.5
2,군위,20210503,0.0,14688.0,68515.2,22.567,46.3
3,군위,20210504,10.9464,32572.8,68428.8,22.531,46.3
4,군위,20210505,3.0,14688.0,68428.8,22.478,46.2
...,...,...,...,...,...,...,...
30676,횡성,20210827,0.468,114393.6,157507.2,50.481,58.1
30677,횡성,20210828,0.0,75513.6,161568.0,50.395,58.0
30678,횡성,20210829,2.6175,70588.8,156556.8,50.309,57.9
30679,횡성,20210830,0.0,35424.0,164246.4,50.180,57.7
30680,횡성,20210831,42.274,200534.4,157593.6,50.223,57.8

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30681 entries, 0 to 30680
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dam_nm        30681 non-null  object
 1   obsr_de       30681 non-null  int64
 2   rain_qy       30681 non-null  object
 3   inflow_qy     30681 non-null  float64
 4   tot_dcwtr_qy  30681 non-null  float64
 5   rsvwt_qy      30681 non-null  float64
 6   dam_rsvwt_rt  30681 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.6+ MB

In [28]:
df['inflow_qy'] = df['inflow_qy'] *86400
df['tot_dcwtr_qy'] = df['tot_dcwtr_qy'] *86400

2. 기상데이터

In [29]:
c_path = '/content/drive/MyDrive/관측소별기상관측정보'

In [30]:
c_list = os.listdir(c_path)
print(c_list)

['202001.csv', '202009.csv', '202011.csv', '202102.csv', '202006.csv', '202007.csv', '201901_201906.csv', '202004.csv', '202002.csv', '202101.csv', '202012.csv', '202003.csv', '202010.csv', '201907_201912.csv', '202005.csv', '202008.csv', '202202.csv', '202203.csv', '202204.csv', '202201.csv', '202112.csv', '202111.csv', '202110.csv', '202108.csv', '202109.csv', '202107.csv', '202105.csv', '202106.csv', '202104.csv', '202103.csv', '202209.csv', '202212.csv', '202211.csv', '202210.csv', '202207.csv', '202208.csv', '202206.csv', '202205.csv']

In [35]:
df1 = file_concat(c_path, c_list)

In [36]:
df1.head()

  dam_nm    anc_dt  avg_hmd  avg_tmr  avg_wv  snsn_sum
0     군위  20200101     53.3      0.2     3.0       6.5
1     군위  20200102     57.9      3.4     2.8       6.5
2     군위  20200103     54.3      3.6     2.5       6.5
3     군위  20200104     55.4      2.7     2.4       6.5
4     군위  20200105     53.6      2.2     1.0       7.7

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30681 entries, 0 to 30680
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dam_nm    30681 non-null  object
 1   anc_dt    30681 non-null  int64
 2   avg_hmd   30620 non-null  float64
 3   avg_tmr   30676 non-null  float64
 4   avg_wv    30674 non-null  float64
 5   snsn_sum  30664 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.4+ MB

In [41]:
df_merge = pd.merge(left = df, right=df1, how = "left", left_on=['dam_nm','obsr_de'], right_on = ['dam_nm','obsr_de'] )

In [42]:
df_merge

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt,avg_hmd,avg_tmr,avg_wv,snsn_sum
0,군위,20210501,4.7634,1.269043e+09,5.934643e+09,22.675,46.6,77.3,12.1,3.9,2.8
1,군위,20210502,4.0,1.269043e+09,5.927178e+09,22.621,46.5,68.0,13.6,3.2,9.2
2,군위,20210503,0.0,1.269043e+09,5.919713e+09,22.567,46.3,64.1,16.5,1.8,11.7
3,군위,20210504,10.9464,2.814290e+09,5.912248e+09,22.531,46.3,85.0,17.0,1.6,0.2
4,군위,20210505,3.0,1.269043e+09,5.912248e+09,22.478,46.2,53.6,18.5,4.1,12.2
...,...,...,...,...,...,...,...,...,...,...,...
30676,횡성,20210827,0.468,9.883607e+09,1.360862e+10,50.481,58.1,89.5,21.3,0.6,4.3
30677,횡성,20210828,0.0,6.524375e+09,1.395948e+10,50.395,58.0,80.3,22.2,1.0,5.2
30678,횡성,20210829,2.6175,6.098872e+09,1.352651e+10,50.309,57.9,82.9,22.2,0.8,1.4
30679,횡성,20210830,0.0,3.060634e+09,1.419089e+10,50.180,57.7,82.8,22.0,1.0,1.5
30680,횡성,20210831,42.274,1.732617e+10,1.361609e+10,50.223,57.8,92.1,19.1,1.1,4.0

In [44]:
df_vc = pd.read_csv('/content/drive/MyDrive/다목적댐_제원_정보.csv', sep = ',')

In [45]:
df_vc

   dam_nm  valid_rsvwt_cpcty_qy
0      군위                 40.10
1    김천부항                 42.60
2      남강                299.70
3      대청                790.00
4      밀양                 69.80
5      보령                108.70
6     보현산                 17.88
7      부안                 35.60
8     섬진강                429.00
9      성덕                 24.80
10    소양강               1900.00
11     안동               1000.00
12     영주                160.40
13     용담                672.52
14     임하                424.00
15     장흥                171.00
16  주암(본)                352.00
17  주암(조)                210.00
18     충주               1789.00
19     합천                560.00
20     횡성                 73.40

In [47]:
df_final = pd.merge(left = df_merge, right = df_vc, how = "inner", on = "dam_nm")

In [48]:
df_final

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt,avg_hmd,avg_tmr,avg_wv,snsn_sum,valid_rsvwt_cpcty_qy
0,군위,20210501,4.7634,1.269043e+09,5.934643e+09,22.675,46.6,77.3,12.1,3.9,2.8,40.1
1,군위,20210502,4.0,1.269043e+09,5.927178e+09,22.621,46.5,68.0,13.6,3.2,9.2,40.1
2,군위,20210503,0.0,1.269043e+09,5.919713e+09,22.567,46.3,64.1,16.5,1.8,11.7,40.1
3,군위,20210504,10.9464,2.814290e+09,5.912248e+09,22.531,46.3,85.0,17.0,1.6,0.2,40.1
4,군위,20210505,3.0,1.269043e+09,5.912248e+09,22.478,46.2,53.6,18.5,4.1,12.2,40.1
...,...,...,...,...,...,...,...,...,...,...,...,...
30676,횡성,20210827,0.468,9.883607e+09,1.360862e+10,50.481,58.1,89.5,21.3,0.6,4.3,73.4
30677,횡성,20210828,0.0,6.524375e+09,1.395948e+10,50.395,58.0,80.3,22.2,1.0,5.2,73.4
30678,횡성,20210829,2.6175,6.098872e+09,1.352651e+10,50.309,57.9,82.9,22.2,0.8,1.4,73.4
30679,횡성,20210830,0.0,3.060634e+09,1.419089e+10,50.180,57.7,82.8,22.0,1.0,1.5,73.4
30680,횡성,20210831,42.274,1.732617e+10,1.361609e+10,50.223,57.8,92.1,19.1,1.1,4.0,73.4

In [51]:
df_final.to_csv("/content/drive/MyDrive/df_merge_sy.csv")